{% extends "base.html" %}

{% block titulo %} Agregar nuevo país {% endblock %}


{% block contenido %} 

<h2>Formulario para agregar nuevo país</h2>

<div class="card">
    <div class="card-header">
        Añadir nuevo país
    </div>
    <div class="card-body">
        <h4 class="card-title">Datos del país</h4>
        <form enctype="multipart/form-data" method="post">
    
            <div class="mb-3">
              <label for="" class="form-label">Nombre:</label>
              
              <input type="text"
                class="form-control" name="" id="" aria-describedby="helpId" placeholder="Nombre">
            
            </div>
        </form>
    </div>
    <div class="card-footer text-muted">
    </div>
</div>


{% endblock %}